@font-face {
  font-family: "Gilroy Bold";
  src: url(./Fonts/Gilroy-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Medium";
  src: url(./Fonts/Gilroy-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  flex-flow: column;
}

.container {
  height: 800px;
  width: 980px;
  margin: 0 auto;
}

.menu-list {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list-item {
  font-family: "Gilroy Bold";
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  list-style-type: none;
}

.active {
  color: #070707;
}

hr {
  width: 970px;
  border: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.hero {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.name {
  font-family: "Gilroy Bold";
  font-size: 47.3392px;
  line-height: 59px;
  width: 33.33%;
}

.info {
  font-family: "Gilroy Medium";
  font-size: 20px;
  line-height: 22px;
  width: 33.33%;
  text-align: center;
}

.language-switcher {
  font-family: "Gilroy Bold";
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  width: 33.33%;
  display: flex;
  justify-content: flex-end;
}

.language-switcher p {
  transform: rotate(-90deg);
}

.hero-image {
  padding-top: 40px;
}

.main-info {
  width: 100%;
  height: 600px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me {
  text-align: center;
}

.about-me h1 {
  font-family: "Gilroy Bold";
  font-size: 34px;
  line-height: 42px;
  color: #070707;
}

.about-me p {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  padding: 30px;
}

.sec-info {
  width: 100%;
  height: 800px;
  display: flex;
  flex-flow: column;
}

.sec-text {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
}

.sec-text h1 {
  font-family: "Gilroy Bold";
  font-size: 34px;
  line-height: 42px;
  padding: 60px;
}

.sec-text h2 {
  font-family: "Gilroy Medium";
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
}
.wrapper-skills {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.skill div {
  margin-top: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
  letter-spacing: 10px;
  color: #2e2c2c;
}

.skill {
  text-align: center;
}
